.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width: 310px;
    background-color: #fff;
    position : relative;
}
.labels{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    position : relative;
    bottom : 50px;
    right : 5px;
}
.input {
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position : relative;
    bottom : 50px;
}
.title{
    text-align : center;
    font-size: 40px;
    position : relative;
    top : -45px;
}
.subtitle{
    text-align : center;
    font-size: 14px;
    position : relative;
    bottom : 50px;
}
.button{
    background-color : black;
    color : white;
    width : 105%;
    border-radius : 5px;
    padding : 10px;
    font-size : 18px;
    position : relative;
    bottom : 40px;
    right : 5px;
}
.lastmessage{
    text-align : center;
    font-size : 14px;
    position : relative;
    bottom : 30px;
}